<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="_layout :: head"></div>
<div th:replace="_layout :: header"></div>
<div th:replace="_layout :: sidebar"></div>

<main id="main" class="main">
    <div th:replace="_layout :: tile"></div>
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center">Add new Country Record</h5>

                    <!-- No Labels Form -->
                    <div class="container" style="width: 70%">
                        <form class="row g-3" th:action="@{/countries}" method="post">
                            <div class="col-md-12">
                                <input type="text" name="description" class="form-control" placeholder="Description">
                            </div>
                            <div class="col-md-12">
                                <input type="text" name="capital" class="form-control" placeholder="Capital">
                            </div>
                            <div class="col-md-12">
                                <input type="text" name="nationality"  class="form-control" placeholder="Nationality">
                            </div>
                            <div class="col-md-12">
                                <input type="text" name="code"  class="form-control" placeholder="Country Code">
                            </div>
                            <div class="col-md-12">
                                <input type="text" name="continent"  class="form-control" placeholder="Continent">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-success">Save</button>
                                <a href="/countries"  class="btn btn-secondary">Exit</a>
                            </div>
                        </form><!-- End No Labels Form -->
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3">

        </div>
    </div>
</main>
<div th:replace="_layout :: foot"></div>
</html>

