<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="_layout :: head"></div>
<div th:replace="_layout :: header"></div>
<div th:replace="_layout :: sidebar"></div>

<main id="main" class="main">

    <div class="row">
        <div class="col-lg-4">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Countries</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/countries" class="btn btn-primary">Manage Countries</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Modules</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/modules" class="btn btn-primary">Manage Modules</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">States</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/states" class="btn btn-primary">Manage States</a>
                </div>
            </div>

        </div>

        <div class="col-lg-4">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Locations</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/locations" class="btn btn-primary">Manage Locations</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Contacts</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/contacts" class="btn btn-primary">Manage Contacts</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Contacts</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/contacts" class="btn btn-primary">Manage Contacts</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Suppliers</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/suppliers" class="btn btn-primary">Manage Suppliers</a>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Clients</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="/clients" class="btn btn-primary">Manage Clients</a>
                </div>
            </div>

        </div>
    </div>

</main>
<div th:replace="_layout :: foot"></div>
</html>